template_expose.zip
*.aux
*.log
*.bbl
*.blg
*.synctex.gz
*.out
*.fdb_latexmk
*.fls
*.pdf
*.thm
*.toc
*.nav
*.snm
*.vrb
TODO.md
.vscode/
.ipynb_checkpoints
pqm4/obj/
pqm4/hex/
*__pycache__/
traces

scripts/level*
*.sage.py

Reference_Implementation/bike-nist-kat

discovery_bins
mps2_bins