[submodule "pqm4/mupq/pqclean"]
	path = fault-injection/pqm4/mupq/pqclean
	url = https://github.com/PQClean/PQClean.git
[submodule "pqm4/libopencm3"]
	path = fault-injection/pqm4/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
